<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CopyPlusPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><userSettings>
        <CopyPlusPlus.Properties.Settings>
            <setting name="AppID" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="Switch1Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Switch2Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Switch3Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Switch4Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastOpenDate" serializeAs="String">
                <value>2021-04-16</value>
            </setting>
            <setting name="TransFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TransTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TransEngine" serializeAs="String">
                <value>0</value>
            </setting>
        </CopyPlusPlus.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
</configuration>
