<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CopyPlusPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><userSettings>
        <CopyPlusPlus.Properties.Settings>
            <setting name="AppID" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LastOpenDate" serializeAs="String">
                <value>2021-04-16</value>
            </setting>
            <setting name="SwitchCheck" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>True</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CopyPlusPlus.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
</configuration>
